################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Microsoft .NET/Conversion/.vs/Sample Code .NET/v15
